body {
  display:flex;
  min-height:100vh;
  justify-content: center;
  flex-direction: column;
  align-items:center;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreUI p {
  margin: 24px;
}

.cardUI div {
  margin: 24px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: orange;
}

.carton {
  width: 150px;
  height: 200px;
  border: 1px solid gray;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  
}

.carton p {
  margin: 0;
}

h1 {
  text-align: center;
}

.hidden {
  display:none;
}

button {
  width: fit-content
}